MitoFinder_v1.4 filter=lfs diff=lfs merge=lfs -text
test_case/Aphaenogaster_megommata_SRR1303315_R1_cleaned.fastq.gz filter=lfs diff=lfs merge=lfs -text
test_case/Aphaenogaster_megommata_SRR1303315_R2_cleaned.fastq.gz filter=lfs diff=lfs merge=lfs -text
